* {
  box-sizing: border-box;
  font-family: "Merienda", cursive, sans-serif;
}

body {
  background-color: rgb(38, 38, 38);
  color: rgb(198, 198, 198);
}

nav {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

h1 {
  text-align: center;
  border-bottom: 10px solid rgb(133, 36, 36);
}

div {
  list-style: lower-alpha;
  text-align: center;
}

h2,
div {
  text-align: center;
}

#quiz-box {
  padding: 10px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: rgb(14, 14, 14);
  border: 5px solid rgb(133, 36, 36);
  border-radius: 20px;
}

.button {
  border: 2px solid rgb(133, 36, 36);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#book {
  color: rgb(215, 185, 85);
  font-style: italic;
  font-size: 28px;
}

#high-scores {
  text-align: center;
  list-style-position: inside;
}
